<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tabla equipos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
	li a:hover{
		color: rgb(192, 192, 192) !important;	
	}
</style>
</head>

<body>
<header>
	<nav class="navbar navbar-expand-lg bg-dark shadow text-center">
  <div class="container">
    <a class="navbar-brand text-light" th:href="@{/}"><i class='bx bx-football text-primary bg-light rounded-2 fs-1 m-0'></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" th:href="@{/equipos/}">Equipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" th:href="@{/asociacion/}">Asociación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" th:href="@{/entrenadores/}">Entrenadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" th:href="@{/jugadores/}">Jugadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" th:href="@{/competicion/}">Competicion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" th:href="@{/equiposcompeticiones/}">EquiposCompeticion</a>
        </li>
    </div>
        <div class="cont_header">
        <div class="logo">
            <a th:href="@{/}">
            </a>
        </div>
        <div class="BIENVENIDO">
            <a th:href="@{/}" class="btn btn-success">
                <strong>Regresar</strong>
            </a>
        </div>
    </div>
  </div>
</nav>
</header>
<main>
	<div class="container">
        <div class="cont_main mt-5">
			<h1 class="text-center">Entrenadores</h1>
            <a th:href="@{/entrenadores/new}" class="add btn btn-primary">
                Agregar
            </a>
            <table class="table table-striped m-3 tab">
                <thead class="table-dark">
                <tr class="text-center">
                    <td><strong>Id</strong></td>
                    <td><strong>Nombre</strong></td>
                    <td><strong>Apellido</strong></td>
                    <td><strong>Edad</strong></td>
                    <td><strong>Nacionalidad</strong></td>
                    <td><strong>Editar</strong></td>
                    <td><strong>Eliminar</strong></td>
                </tr>
                </thead>
                <tbody class="">
                <tr th:each="entrenador : ${entrenadores}">
                    <td>[[ ${entrenador.id} ]]</td>
                    <td>[[ ${entrenador.nombre} ]]</td>
                    <td>[[ ${entrenador.apellido} ]]</td>
                    <td>[[ ${entrenador.edad} ]]</td>
                    <td>[[ ${entrenador.nacionalidad} ]]</td>
                    <td>
                        <a class="mx-3 text-warning" th:href="@{/entrenadores/edit/{id}(id = ${entrenador.id})}">
                            <i class='bx bx-edit-alt fs-4'></i>
                        </a>
                    </td>
                    <td>
                        <a class="mx-3 text-danger" th:href="@{/entrenadores/delete/{id}(id = ${entrenador.id})}">
                            <i class='bx bxs-message-square-x fs-4'></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
</main>
</body>

</html>